python-dotenv~=0.19.2
numpy~=1.22.2
Flask~=2.0.2
flask_bootstrap~=3.3.7.1
flask_login~=0.5.0
flask_sqlalchemy~=2.5.1
WTForms~=3.0.1
email_validator
Werkzeug~=2.0.1
SQLAlchemy~=1.4.31
bs4~=0.0.1
beautifulsoup4~=4.10.0
requests_cache~=0.9.3
selenium~=4.1.2
webdriver-manager~=3.5.3
requests~=2.27.1
pandas~=1.4.1
pytrends~=4.8.0
html5lib~=1.1
matplotlib~=3.5.1
plotly~=5.6.0