{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Jermy Francisco - About Me{% endblock %}

{% block content %}
<!-- Page Header -->
<header class="bg-image-sub-page py-md-4"
        style="background-image: url('static/images/bg/meritt-thomas-zqIOvV-D3JQ-unsplash - tree lights.jpg');"
        xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row mb-4 mx-4 px-4">
            <!-- Intro Text -->
            <div class="page-header night-mode py-3 mb-2 col-md-7 text-md-start text-center">
                <!-- Code -->
                <h6>
                    <span class="code-tag">< h6 </span> class=<span class="code-text">"full-summary"</span><span
                        class="code-tag">></span> About Myself <span class="code-tag">< h6 ></span>
                </h6>
                <!-- Heading -->
                <h1>MORE ABOUT ME</h1>
                <p class="subtitle">
                    Well, I was born and raised in New York City...
                    <span class="blinking-cursor">|</span>
                </p>
            </div>
        </div>
    </div>
</header>

<!-- About Me Content -->
<div class="container py-2 my-4 text-md-start">
    <!-- Hello -->
    <h4 class="border-bottom border-2 border-info py-2">Hello There!</h4>
    <div class="container row text-start">
        <!-- About Me Text -->
        <div class="col-lg-6 py-4">
            <p>My name is Jermy – or "Jerm" for short. I enjoy creating things,
                whether that be
                on paper or for the web. After over 5 years of building dynamic data models with
                <strong>Excel</strong>
                for my previous employer, I was inspired to <em>"level up"</em> – to step further into the world of
                tech!
                <br>
                <br>
                I built and designed this website to showcase what I have learned.
                <br>
                <br>
                Now that I have added <strong>HTML,
                    CSS,
                    Python </strong>
                and <strong>SQL</strong> to my tool box, I am excited to both put my skills to work and to
                strengthen
                my web & software development skills.
            </p>
            <p class="alert alert-info">I received my Bachelor of Business Administration (BBA) from CUNY Baruch College
                in
                2015.</p>
        </div>
    </div>
    <!-- Qualifications -->
    <h4 class="border-bottom border-2 border-info py-2">My Current Skill Set</h4>
    <table class="my-4 table qualifications">
        <tbody>
        <tr>
            <th scope="row">LANGUAGES</th>
            <td>Python, SQL, HTML, CSS</td>
        </tr>
        <tr>
            <th scope="row">FRAMEWORKS</th>
            <td>Bootstrap, Flask
        </tr>
        <tr>
            <th scope="row">LIBRARIES</th>
            <td>Pandas, NumPy, Matplotlib, Plotly
        </tr>
        <tr>
            <th scope="row">SOFTWARE</th>
            <td>Microsoft Office, PyCharm, MySQL, BigQuery, Tableau, Google Colab</td>
        </tr>
        <tr>
            <th scope="row">SKILLS</th>
            <td>Project Management, Web Development, Data Analysis, Data Visualization</td>
        </tr>
        </tbody>
    </table>
    <!-- Employment History -->
    <h4 class="border-bottom border-2 border-info py-2">Employment History</h4>
    <div class="mt-4 container">
        <h5>Senior Manager, Analytics & Operations <span class="company">@ Screenvision Media</span></h5>
        <p class="fs-6 text-muted">Oct 2015 - Feb 2022</p>
        <div class="col-lg-6">
            <p>Screenvision Media is an out-of-home advertising company with a focus on cinema. I led the team
                responsible
                for impression forecasting and analysis, managing campaign delivery, and optimizing inventory
                utilization.</p>
            <ul>
                <li class="py-3">
                    <span class="accomplishment">Created a “Sales Planning Tool”</span> – in Excel that enabled our
                    Local/Regional sellers to navigate our
                    inventory of over 70K locations, forecast media campaigns, and generate paperwork.
                </li>
                <li class="py-3">
                    <span class="accomplishment">Designed Inventory/Campaign Management & Reporting workflows</span> –
                    through Excel workbooks I created
                    for optimizing ad placement, tracking inventory utilization, planning make-goods, etc.
                </li>
                <li class="py-3">
                    <span class="accomplishment">Wrote Weekly Internal Newsletters</span> – for the company. I provided
                    analysis of the weekend’s box-office
                    performance and industry trends.
                </li>
            </ul>
        </div>
        <!--Relevant Courses-->
        <h4 class="border-bottom border-2 border-info py-2">Completed Courses</h4>
        <div class="mt-4">
            <ul class="list-unstyled">
                <li>
                    <p>
                        <span class="badge bg-secondary">GOOGLE</span>
                        <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/Q5TGSG2EFSTB"
                           target="_blank" rel="noopener noreferrer">
                            Google Data Analytics Certificate
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <span class="badge bg-secondary">UDEMY</span>
                        <a href="https://www.udemy.com/certificate/UC-f80b2c91-6ea2-45cc-9c09-a063bf14ee82/"
                           target="_blank" rel="noopener noreferrer">
                            100 Days of Code: The Complete Python Pro Bootcamp for 2022
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        <span class="badge bg-secondary">UDEMY</span>
                        <a href="https://www.udemy.com/certificate/UC-63042348-3168-4da0-9df0-d8530cd980be/"
                           target="_blank" rel="noopener noreferrer">
                            The Ultimate MySQL Bootcamp: Go from SQL Beginner to Expert
                        </a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}
