{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Jermy Francisco{% endblock %}

{% block content %}
<!-- Page Header -->
<header class="bg-image py-md-4"
        style="background-image: url('static/images/bg/artin-bakhan-SqLyNHbsLKQ-unsplash - laptop edited.jpg');"
>
    <div class="container">
        <div class="row mb-4 mx-4 px-4">
            <!-- Intro Text -->
            <div class="night-mode py-3 mb-2 col-md-7 text-md-start text-center">
                <!-- Code -->
                <h6>
                    <span class="code-tag">< h6 </span> class=<span class="code-text">"intro"</span><span
                        class="code-tag">></span> Hello World ~ I am <span class="code-tag">< h6 ></span>
                </h6>
                <!-- Heading -->
                <h1>JERMY FRANCISCO</h1>
                <p class="subtitle">
                    Project Manager, Web Developer, and Data Analyst
                    <span class="blinking-cursor">|</span>
                </p>
            </div>
            <!-- Profile Image -->
            <div class="col-md-5 text-center">
                <img class="profile-pic rounded-circle mx-auto" src="/static/images/Profile Pic 2022.jpg"
                     alt="picture of Jermy">
            </div>
        </div>
        <div id="down-arrow" class="text-center">
            <i class="fa-2x fa-solid fa-circle-arrow-down fa-beat-fade" style="--fa-animation-duration: 2s"></i>
            <h6 class="night-mode mt-2">scroll down</h6>
        </div>
    </div>
</header>

<!-- About Me Preview -->
<div class="container py-2 my-4 text-md-start text-center">
    <!-- Code -->
    <h6>
        <strong>
            <span class="code-tag">< h6 </span> class=<span class="code-text">"short-summary"</span><span
                class="code-tag">></span>
            About Myself <span class="code-tag">< h6 ></span>
        </strong>
    </h6>
    <!-- Heading -->
    <h2 class="border-bottom border-2 border-info py-2">A Little About Me</h2>
    <div class="container row text-start">
        <!-- About Me Text -->
        <div class="col-lg-6 py-4">
            <p>Hello! My name is Jermy – or "Jerm" for short. I enjoy creating things,
                whether that be
                on paper or for the web. After over 5 years of building dynamic data models with
                <strong>Excel</strong>
                for my previous employer, I was inspired to <em>"level up"</em> – to step further into the world of
                tech!
                <br>
                <br>
                I built and designed this website to showcase what I have learned.
                <br>
                <br>
                Now that I have added <strong>HTML,
                    CSS,
                    Python </strong>
                and <strong>SQL</strong> to my tool box, I am excited to both put my skills to work and to
                strengthen my web & software development skills.
            </p>
            <!-- Button for More About Me -->
            <a class="my-2 btn btn-outline-primary" href="{{ url_for('show_aboutme') }}">
                Read More About Me
            </a>
        </div>
        <!-- About Me Gifs -->
        <div class="col-lg-6 text-center pt-4">
            <img class="gif img-fluid col" src="/static/gifs/programmer.gif">
        </div>
    </div>
</div>

<!-- Portfolio Preview -->
<div class="section-container container-fluid">
    <div class="container py-2 my-4 text-md-start text-center">
        <!-- Code -->
        <h6 class="pt-4">
            <strong>
                <span class="code-tag">< h6 </span> class=<span class="code-text">"portfolio-preview"</span><span
                    class="code-tag">></span>
                Most Recent Work <span class="code-tag">< h6 ></span>
            </strong>
        </h6>
        <!-- Heading -->
        <h2 class="night-mode border-bottom border-2 border-info py-2">What I Have Built</h2>
        <!-- Summary -->
        <p class="night-mode">
            Other than this personal website,
            <a href="https://github.com/BinaryEgo/Portfolio" class="code-text"
               target="_blank" rel="noopener noreferrer">
                whose code you can see here
            </a>, I also have worked on the projects below.
        </p>
        <!-- Portfolio Accordion -->
        <div class="container">
            <div class="accordion py-4" id="accordionExample">
                <!-- Accordion 1 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed hover-excel" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
                            With Excel
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <!-- Cards -->
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <!-- Card 1 -->
                                <div class="col">
                                    <div class="card text-start">
                                        <div class="card-top">
                                            <h5 class="hover-text alert-success p-4">Hover over me for a preview!</h5>
                                            <a>
                                                <img src="/static/images/PlanningTool_Screenshot.png"
                                                     class="card-img-top"
                                                     alt="Sales Planning Tool Preview Static">
                                                <img src="/static/gifs/PlanningTool_Preview.gif" class="card-img-top"
                                                     alt="Sales Planning Tool Preview Gif">
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-success py-2 border-top"><strong>Sales Planning
                                                Tool</strong></h5>
                                            <p class="card-text"> This tool allowed the Local/Regional Sales teams
                                                of Screenvision Media to:
                                            <ul>
                                                <li> forecast a campaign's impressions and cost</li>
                                                <li> dynamically change details (e.g. flight, targets, rates)</li>
                                                <li> prepare the paperwork needed to go to order</li>
                                            </ul>
                                            <em>Instructions are included within the file!</em>
                                            <a href="/static/files/Sales_Planning_Tool_Sample.xlsx"
                                               class="btn btn-success mt-2" download="PlanningToolSample">Download and
                                                Try It Out!</a>
                                            </p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item hashtag">#PivotTable #DynamicDropdowns
                                                #DynamicPrintArea #InsertionOrder #Forecasting
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Card 2 -->
                                <div class="col">
                                    <div class="card text-start">
                                        <div class="card-top">
                                            <h5 class="hover-text alert-success p-4">Hover over me for a preview!</h5>
                                            <a>
                                                <img src="/static/images/InventoryMaster_Screenshot.png"
                                                     class="card-img-top"
                                                     alt="Inventory Master Preview Static">
                                                <img src="/static/gifs/InventoryMaster_Preview.gif" class="card-img-top"
                                                     alt="Inventory Master Preview Gif">
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-success py-2 border-top"><strong>Inventory Master
                                                List</strong></h5>
                                            <p class="card-text"> Part of Screenvision Media's Front & Center Everywhere
                                                strategy involved integrating the inventory of other companies into
                                                their own.
                                                <br><br>
                                                This file mimics the one I created to compile the inventory from four
                                                separate companies into a one-sheet. The original inventory files lived
                                                on Sharepoint - in separate
                                                worksheets.
                                                <br><br>
                                                <a href="/static/files/Inventory_Management_Sample.xlsx"
                                                   class="btn btn-success mt-2" download="InventoryMasterSample">Download
                                                    and Try It Out!</a>
                                            </p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item hashtag">#PowerQuery #InventoryManagement
                                                #DataCleanUp
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Card 3 -->
                                <div class="col">
                                    <div class="card text-start">
                                        <div class="card-top">
                                            <h5 class="hover-text alert-success p-4">Hover over me for a preview!</h5>
                                            <a>
                                                <img src="/static/images/InventoryReport_Screenshot.png"
                                                     class="card-img-top"
                                                     alt="Inventory Report Preview Static">
                                                <img src="/static/gifs/InventoryReport_Preview.gif" class="card-img-top"
                                                     alt="Inventory Report Preview Gif">
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-success py-2 border-top"><strong>Inventory
                                                Report</strong></h5>
                                            <p class="card-text"> A worksheet that takes a massive report downloaded
                                                from
                                                the company's database and converts it into an easy-to-read report for
                                                management.
                                                <br>
                                                <br>
                                                This tool can provide information for a single week and up-to 52 weeks
                                                into the future.
                                            </p>
                                            <a href="/static/files/Inventory_Report_Engine.zip"
                                               class="btn btn-success mt-2" download="InventoryReportFiles">Download and
                                                Try It Out!</a>
                                            </p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item hashtag">#PowerQuery #Reporting #Charts #Tables
                                                #DataSummary #DataAnalysis
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Accordion 2 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed hover-python" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            With Python
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <!-- Cards -->
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <!-- Card 1 -->
                                <div class="col">
                                    <div class="card text-start">
                                        <div class="card-top">
                                            <h5 class="hover-text alert-info p-4">Hover over me for a preview!</h5>
                                            <a>
                                                <img src="/static/images/TarotReader_Screenshot.png"
                                                     class="card-img-top"
                                                     alt="Inventory Report Preview Static">
                                                <img src="/static/gifs/Tarot_Card_Preview.gif" class="card-img-top"
                                                     alt="Inventory Report Preview Gif">
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title py-2 border-top"><strong>
                                                <a href="{{ url_for('tarot_start') }}">
                                                    Exclusive Affirmation Generator
                                                </a>
                                            </strong></h5>
                                            <p class="card-text">
                                                I imagined this "exclusive" site where users would need to sign in order
                                                to receive a message. By registering, they would get added to an e-mail
                                                newsletter. The user also has the choice to add their own message into
                                                the rotation of possible affirmations.
                                                <br><br>
                                                I created this to showcase my understanding of:
                                            <ul>
                                                <li>Flask Templates & Jinja</li>
                                                <li>Secure Logins</li>
                                                <li>Database Management with Sql-Alchemy</li>
                                            </ul>
                                            </p>
                                            <a href="{{ url_for('tarot_start') }}" class="btn btn-dark mt-2">
                                                Take Me To It!</a>
                                            <a href="https://github.com/BinaryEgo/Portfolio/blob/master/application/project_modules/tarot_cards.py"
                                               target="_blank" rel="noopener noreferrer"
                                               class="btn btn-light mt-2">
                                                See The Code On Github</a>
                                            </p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item hashtag">#Flask #Jinja #LoginSecurity #OOP
                                                #SQL-Alchemy #BeautifulSoup
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Card 2 -->
                                <div class="col">
                                    <div class="card text-start">
                                        <div class="card-top">
                                            <h5 class="hover-text alert-info p-4">Hover over me for a preview!</h5>
                                            <a>
                                                <img src="/static/images/RobotTxt_Screenshot.png"
                                                     class="card-img-top"
                                                     alt="Inventory Report Preview Static">
                                                <img src="/static/gifs/RobotsTxtPreview.gif" class="card-img-top"
                                                     alt="Inventory Report Preview Gif">
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title py-2 border-top"><strong>
                                                <a href="{{ url_for('show_robots_txt') }}">
                                                    Robots.txt Look-up
                                                </a>
                                            </strong></h5>
                                            <p class="card-text">
                                                Robots.txt files provide a useful guide for devs looking to safely
                                                web-scrape.
                                                This tool makes finding these files more convenient, <i>before</i> you
                                                run
                                                the web-scraping bot. If nothing else, it may serve as a learning tool.
                                                <br><br>
                                                Once given a valid url, the site will display a "beautified" version of
                                                the
                                                url's robot.txt and a "how-to-read" guide. Users can also print or save
                                                as pdf.
                                            </p>
                                            <a href="{{ url_for('show_robots_txt') }}" class="btn btn-dark mt-2">
                                                Take Me To It!</a>
                                            <a href="https://github.com/BinaryEgo/Portfolio/blob/master/application/project_modules/robots_checker.py"
                                               target="_blank" rel="noopener noreferrer"
                                               class="btn btn-light mt-2">
                                                See The Code On Github</a>
                                            </p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item hashtag">#Flask #Jinja #WebScraping #Robots.txt
                                                #LearningTool
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Card 3 -->
                                <div class="col">
                                    <div class="card text-start">
                                        <div class="card-top">
                                            <h5 class="hover-text alert-info p-4">Hover over me for a preview!</h5>
                                            <a>
                                                <img src="/static/images/BoxOffice_Screenshot.png"
                                                     class="card-img-top"
                                                     alt="Inventory Report Preview Static">
                                                <img src="/static/gifs/BoxOfficePreview.gif" class="card-img-top"
                                                     alt="Inventory Report Preview Gif">
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title py-2 border-top"><strong>
                                                <a href="{{ url_for('page_preloader') }}">
                                                    Data Science - Box Office vs Streaming
                                                </a>
                                            </strong></h5>
                                            <p class="card-text">
                                                This is my analysis of how Hollywood's day-and-date distribution
                                                strategy
                                                impacted 2021's box-office and the moviegoing audience. This could
                                                either
                                                be an industry data report, internal newsletter, etc.
                                                <br><br>
                                                The charts are made using Plotly. To help with page-loading, I stored
                                                the
                                                charts used in the report in a database.
                                            </p>
                                            <a href="{{ url_for('page_preloader') }}" class="btn btn-dark mt-2">
                                                Take Me To It!</a>
                                            <a href="https://github.com/BinaryEgo/Portfolio/blob/master/application/project_modules/movies_interest_boxoffice.py"
                                               target="_blank" rel="noopener noreferrer"
                                               class="btn btn-light mt-2">
                                                See The Code On Github</a>
                                            </p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item hashtag">#Flask #Numpy #Pandas #Plotly #API
                                                #Sql-lite
                                                #Jquery #Javascript
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Button for Full Portfolio -->
                <a class="mt-4 btn btn-primary" type="button" href="{{ url_for('show_portfolio') }}">See My Full
                    Portfolio</a>
            </div>
        </div>
    </div>
</div>

<!-- Contact Me -->
<div class="container py-2 my-4 text-md-start text-center">
    <!-- Code -->
    <h6>
        <strong>
            <span class="code-tag">< h6 </span> class=<span class="code-text">"contact-form"</span><span
                class="code-tag">></span>
            Contact Me <span class="code-tag">< h6 ></span>
        </strong>
    </h6>
    <!-- Heading -->
    <h2 class="border-bottom border-2 border-info py-2">Get In Touch</h2>
    <p class="alert alert-warning text-center">
        I am currently looking for full-time employment!
        <br>
        If you believe I would be a good fit* for your company, <br> please reach out!
        <br>
        <br>
        * <span class="small">I prefer fully-remote, non-freelance opportunities</span> *
    </p>
    <!-- Contact Form -->
    <div class="container py-4">
        <form method="POST" class="form col-lg-6" role="form">
            <!-- Name -->
            <div class="row form-input">
                {{ form.csrf_token }}
                {{ wtf.form_field(form.name, class='form-control', placeholder='Name') }}
            </div>
            <!-- Email -->
            <div class="row pt-3 form-input">
                {{ wtf.form_field(form.email, class='form-control', placeholder='Email') }}
            </div>
            <!-- Subject -->
            <div class="row pt-3 form-input">
                {{ wtf.form_field(form.subject, class='form-control', placeholder='Subject') }}
            </div>
            <!-- Message -->
            <div class="row pt-3 form-input">
                {{ wtf.form_field(form.message, class='form-control', placeholder='Message') }}
            </div>
            <!-- Submit -->
            <div class="row form-input pt-4 mt-2 px-3">
                {{ wtf.form_field(form.submit, class='btn btn-outline-primary') }}
            </div>
        </form>
    </div>
</div>

{% endblock %}
