{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Add Your Own Message{% endblock %}

{% block content %}
<!-- Page Header -->
<header class="tarot-bg">
    <div class="container text-center py-4">
        <!-- Header -->
        <h4 class="night-mode">
            Add <span class="text-warning">Your</span> Own Message
        </h4>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        {% if category == 'success' %}
        <p class="alert alert-success">{{ message }}</p>
        {% else %}
        <p class="alert alert-danger">{{ message }}</p>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}

        <!-- Add Message -->
        <div class="night-mode col-lg-6 mx-auto my-4">
            <!-- Instructions -->
            <p>Pay it forward! Type your own message below and (if approved), your message will be added to the pool of
                possible affirmations our users may see.</p>
            <p class="alert alert-info">Please keep your message PG and positive! The message can be advice, a quote, an
                affirmation - or anything that you feel may lift a stranger's spirits!</p>

            <!-- Form -->
            <form method="POST" class="night-mode mb-4" action="{{ url_for('add_message') }}">
                <!-- Message -->
                <div class="container py-2 mb-4">
                {{ wtf.form_field(form.message, rows=4) }}
                </div>
                <!-- Submit for Approval -->
                <div class="container py-2">
                    <button type="submit" class="btn btn-warning">
                        Submit For Approval
                    </button>
                </div>
                <!-- Go Back to Start -->
                <div class="container py-2">
                    <a href="{{url_for('logout')}}" class="btn btn-light">
                        Log Me Out
                    </a>
                </div>
            </form>
        </div>

    </div>
</header>

{% endblock %}
